In [3]:
import pandas as pd
import numpy as np
## https://academic.oup.com/bioinformatics/article/39/2/btac848/7023926?login=false
# https://www.disgenet.org/browser/0/0/0/0/geneid__7124-source__CURATED/_b./
# https://www.disgenet.org/browser/0/1/0/C0026998/

In [4]:
base_path = "../nanodiag_datasets/GSE175758/"

In [5]:
non_rand_cpgs = pd.read_csv(base_path + "non-randomly-demethylated-CpGs.tsv", sep="\t")
non_rand_cpgs

,CpG,logFoldChange,p-value,adj.p-value,beta value,delta beta,Chrom,Position,Strand,Relation to Island,UCSC_RefGene_Group,UCSC_RefGene_Name
0,cg00030427,-2.290980,1.790000e-26,2.190000e-23,49.970416,-0.253066,chr6,169562540,-,OpenSea,NaN,NaN
1,cg00107667,-1.847396,2.390000e-23,3.800000e-21,42.846871,-0.225701,chr12,131941518,-,N_Shelf,NaN,NaN
2,cg00108617,-3.425684,4.550000e-25,2.220000e-22,46.772210,-0.191275,chr7,57324417,+,Island,NaN,NaN
3,cg00116699,-1.961757,7.320000e-21,3.300000e-19,37.165720,-0.243529,chr2,240205260,+,OpenSea,Body,HDAC4
4,cg00159780,-3.389682,2.400000e-25,1.410000e-22,47.405223,-0.284381,chr8,86574469,+,Island,Body;1stExon,REXO1L2P;REXO1L1
...,...,...,...,...,...,...,...,...,...,...,...,...
489,cg27320242,-1.302585,3.580000e-19,8.330000e-18,33.297476,-0.183007,chr15,28107345,-,OpenSea,Body,OCA2
490,cg27324826,-2.086430,3.840000e-25,1.960000e-22,46.939131,-0.178020,chr18,31736619,-,N_Shelf,Body,NOL4
491,cg27374167,-2.415227,7.680000e-26,6.110000e-23,48.531730,-0.254583,chr15,28359911,-,S_Shore,Body,HERC2
492,cg27532560,-1.184626,6.500000e-24,1.460000e-21,44.138896,-0.180076,chr4,187881888,+,Island,NaN,NaN
493,cg27638035,-1.555425,2.980000e-22,2.600000e-20,40.347204,-0.212199,chr18,35015753,+,OpenSea,Body,BRUNOL4

In [17]:
non_rand_cpgs.columns = [item.strip() for item in non_rand_cpgs.columns]
non_rand_cpgs.columns

Index(['CpG', 'logFoldChange', 'p-value', 'adj.p-value', 'beta value',
       'delta beta', 'Chrom', 'Position', 'Strand', 'Relation to Island',
       'UCSC_RefGene_Group', 'UCSC_RefGene_Name'],
      dtype='object')

In [30]:
cpgs_associaton_scores = non_rand_cpgs[["CpG", "delta beta"]]
#cpgs_associaton_scores["association_score"] = np.abs(non_rand_cpgs["delta beta"])
#cpgs_associaton_scores = cpgs_associaton_scores.drop(columns=["delta beta"])
cpgs_associaton_scores.columns = ["feature_name", "association_score"]
cpgs_associaton_scores["association_score"] = np.abs(cpgs_associaton_scores["association_score"])
cpgs_associaton_scores

/tmp/ipykernel_1941682/2880255177.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpgs_associaton_scores["association_score"] = np.abs(cpgs_associaton_scores["association_score"])

    feature_name  association_score
0     cg00030427           0.253066
1     cg00107667           0.225701
2     cg00108617           0.191275
3     cg00116699           0.243529
4     cg00159780           0.284381
..           ...                ...
489   cg27320242           0.183007
490   cg27324826           0.178020
491   cg27374167           0.254583
492   cg27532560           0.180076
493   cg27638035           0.212199

[494 rows x 2 columns]

In [20]:
genes_symbols_diff_exp_meth = pd.read_csv(base_path + "genes_symbol_methylation_expression.tsv", sep="\t")
genes_symbols_diff_exp_meth

,Gene symbol,Correlation meth+exp,adj.p-value,logFoldChange,adj.p-value .1
0,KCNAB1,-0.68182,0.00052,0.02680,0.00841
1,SLITRK6,-0.63538,0.00118,0.11943,0.00000
2,FCRL1,-0.60079,0.00210,0.03599,0.04513
3,IFI27,-0.59190,0.00242,0.22836,0.00000
4,GPR63,-0.58696,0.00261,0.06955,0.00099
...,...,...,...,...,...
82,ST8SIA6,-0.37055,0.04609,0.14223,0.00000
83,GZMA,-0.36957,0.04658,0.25793,0.00000
84,ABCA9,-0.36660,0.04808,0.03450,0.00340
85,GALNTL6,-0.36462,0.04910,0.03259,0.01995
86,MRPL50,-0.36364,0.04962,0.16441,0.02454

In [26]:
genes_association_scores = genes_symbols_diff_exp_meth[["Gene symbol", "logFoldChange"]]
#genes_association_scores["association_score"] =  genes_symbols_diff_exp_meth["logFoldChange"] #columns=
#genes_association_scores = genes_association_scores.drop(columns=["logFoldChange"])
genes_association_scores.columns = ["feature_name", "association_score"]
genes_association_scores

   feature_name  association_score
0        KCNAB1            0.02680
1       SLITRK6            0.11943
2         FCRL1            0.03599
3         IFI27            0.22836
4         GPR63            0.06955
..          ...                ...
82      ST8SIA6            0.14223
83         GZMA            0.25793
84        ABCA9            0.03450
85      GALNTL6            0.03259
86       MRPL50            0.16441

[87 rows x 2 columns]

In [32]:
combine_cpg_genes = pd.concat([cpgs_associaton_scores, genes_association_scores], axis=0)
combine_cpg_genes

   feature_name  association_score
0    cg00030427           0.253066
1    cg00107667           0.225701
2    cg00108617           0.191275
3    cg00116699           0.243529
4    cg00159780           0.284381
..          ...                ...
82      ST8SIA6           0.142230
83         GZMA           0.257930
84        ABCA9           0.034500
85      GALNTL6           0.032590
86       MRPL50           0.164410

[581 rows x 2 columns]

In [35]:
final_feature_names = pd.read_csv(base_path + "final_feature_names.tsv", sep="\t")
final_feature_names

                feature_names
0             cg23954847_TFE3
1            cg00000957_NPHP4
2             cg00001349_MAEL
3            cg00001364_PROX1
4           cg00001446_ELOVL1
...                       ...
441658    ch.22.734399R_EP300
441659  ch.22.740407F_RANGAP1
441660    ch.22.757911F_XRCC6
441661     ch.22.772318F_NAGA
441662   ch.22.909671F_ATXN10

[441663 rows x 1 columns]

In [104]:
seed_feature_names = list()
seed_feature_association_scores = list()

for i, row in enumerate(final_feature_names.iterrows()):
    name = row[1]["feature_names"].split("_")
    #print(name)
    if name[0] in combine_cpg_genes["feature_name"].tolist() and \
        name[1] in combine_cpg_genes["feature_name"].tolist():
        seed_feature_names.append(row[1]["feature_names"])
        score = combine_cpg_genes[combine_cpg_genes["feature_name"] == name[0]]["association_score"].iloc[0]
        score += combine_cpg_genes[combine_cpg_genes["feature_name"] == name[1]]["association_score"].iloc[0]
        seed_feature_association_scores.append(score)
        #print("CpG+Gene:", print(name[0], name[1]), score)
    elif name[0] in combine_cpg_genes["feature_name"].tolist():
        seed_feature_names.append(row[1]["feature_names"])
        score = combine_cpg_genes[combine_cpg_genes["feature_name"] == name[0]] #["association_score"]
        seed_feature_association_scores.append(score["association_score"].iloc[0])
        #print("CpG:", print(name[0]), score)
        #print()
        #print(score["association_score"].iloc[0])
        #break
    elif name[1] in combine_cpg_genes["feature_name"].tolist():
        seed_feature_names.append(row[1]["feature_names"])
        score = combine_cpg_genes[combine_cpg_genes["feature_name"] == name[1]] #["association_score"]
        seed_feature_association_scores.append(score["association_score"].iloc[0])
        #print("Gene:")
        #print("Name:", name[1])
        #print(score[2])
        #break

In [76]:
#combine_cpg_genes[combine_cpg_genes["feature_name"]]

  feature_name  association_score
2        FCRL1            0.03599

In [105]:
df_seed_features = pd.DataFrame(zip(seed_feature_names, seed_feature_association_scores), columns=["feature_name", "score"])
df_seed_features

              feature_name     score
0         cg00394221_FCRL1  0.035990
1     cg00755661_CTTNBP2NL  0.043460
2        cg01343097_OR2M1P  0.186200
3        cg01523881_KIF21B  0.036170
4        cg01637011_KIF21B  0.036170
...                    ...       ...
1753    cg00627846_FAM19A5  0.180439
1754      cg08550094_CECR5  0.264307
1755   cg19790884_C22orf34  0.261563
1756      cg23531285_POTEH  0.305018
1757  cg27179375_POM121L1P  0.246573

[1758 rows x 2 columns]

In [106]:
df_seed_features[df_seed_features["feature_name"] == "cg21405761_FAM167A"]

Empty DataFrame
Columns: [feature_name, score]
Index: []

In [107]:
df_seed_features.to_csv(base_path + "seed_features.tsv", sep="\t", index=None)