In [24]:
import pandas as pd

In [25]:
df_d1 = pd.read_csv("D-1.tabular", sep="\t")
#df_d2 = pd.read_csv("D-1.tabular", sep="\t")
df_d3 = pd.read_csv("D-3.tabular", sep="\t")
df_d4 = pd.read_csv("D-4.tabular", sep="\t")
df_d5 = pd.read_csv("D-5.tabular", sep="\t")

In [26]:
gene_names = df_d1["Geneid"]
gene_names

0        LOC102725121
1             DDX11L1
2             SPECC1L
3           MIR6859-1
4           MIR6859-2
             ...
28260       LOC284898
28261           PRKD3
28262            MLC1
28263          ZBTB41
28264         TMEM181
Name: Geneid, Length: 28265, dtype: object

In [29]:
df_d1["u937_parental"] = df_d1["D-1"]
df_d1["u937_resistant"] = df_d3["D-3"]
df_d1["molm13_parental"] = df_d4["D-4"]
df_d1["molm13_resistant"] = df_d5["D-5"]
df_d1_final = df_d1.drop(columns=["D-1"])
df_d1_final

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
1,DDX11L1,0,0,0,0
2,SPECC1L,550,558,510,447
3,MIR6859-1,0,0,0,0
4,MIR6859-2,0,0,0,0
...,...,...,...,...,...
28260,LOC284898,0,0,0,0
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [30]:
df_final_nodup = df_d1_final.drop_duplicates(subset=['Geneid'])
df_final_nodup

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
1,DDX11L1,0,0,0,0
2,SPECC1L,550,558,510,447
3,MIR6859-1,0,0,0,0
4,MIR6859-2,0,0,0,0
...,...,...,...,...,...
28260,LOC284898,0,0,0,0
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [41]:
df_final_nodup_1 = df_d1_final.drop_duplicates(subset=['u937_parental', 'u937_resistant', 'molm13_parental', 'molm13_resistant'])
df_final_nodup_1

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
2,SPECC1L,550,558,510,447
14,LOC729737,634,506,30,203
19,PARD3,3,21,1,0
20,LOC100133331,82,69,26,46
...,...,...,...,...,...
28259,PAK1,807,852,914,589
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [35]:
df_final_nodup_2 = df_final_nodup_1.drop_duplicates(subset=['u937_resistant'])
df_final_nodup_2

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
2,SPECC1L,550,558,510,447
14,LOC729737,634,506,30,203
19,PARD3,3,21,1,0
20,LOC100133331,82,69,26,46
...,...,...,...,...,...
28165,XRCC5,8407,10310,10838,9309
28173,CRTAP,3522,5594,1689,1833
28188,CYCS,13797,16692,10161,4785
28221,SMARCA4,7123,11017,6542,4164
28222,CALR,37090,55656,35634,27932

In [36]:
df_final_nodup_3 = df_final_nodup_2.drop_duplicates(subset=['molm13_parental'])
df_final_nodup_3

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
2,SPECC1L,550,558,510,447
14,LOC729737,634,506,30,203
19,PARD3,3,21,1,0
20,LOC100133331,82,69,26,46
...,...,...,...,...,...
28165,XRCC5,8407,10310,10838,9309
28173,CRTAP,3522,5594,1689,1833
28188,CYCS,13797,16692,10161,4785
28221,SMARCA4,7123,11017,6542,4164
28222,CALR,37090,55656,35634,27932

In [37]:
df_final_nodup_4 = df_final_nodup_3.drop_duplicates(subset=['molm13_resistant'])
df_final_nodup_4

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
2,SPECC1L,550,558,510,447
14,LOC729737,634,506,30,203
20,LOC100133331,82,69,26,46
23,LINC00115,23,24,17,12
...,...,...,...,...,...
28099,YWHAQ,8872,19226,5778,3941
28109,RPL37A,20387,17455,51255,24045
28165,XRCC5,8407,10310,10838,9309
28221,SMARCA4,7123,11017,6542,4164
28222,CALR,37090,55656,35634,27932

In [55]:
df_final_nodup_1 = df_final_nodup_1[df_final_nodup_1[["u937_parental", "u937_resistant", "molm13_parental", "molm13_resistant"]] > 0]
df_final_nodup_1

      Geneid  u937_parental  u937_resistant  molm13_parental  molm13_resistant
0        NaN            NaN             NaN              NaN               NaN
2        NaN          550.0           558.0            510.0             447.0
14       NaN          634.0           506.0             30.0             203.0
19       NaN            3.0            21.0              1.0               NaN
20       NaN           82.0            69.0             26.0              46.0
...      ...            ...             ...              ...               ...
28259    NaN          807.0           852.0            914.0             589.0
28261    NaN          296.0           426.0            643.0             402.0
28262    NaN           31.0            50.0           7134.0            8468.0
28263    NaN           56.0            73.0            173.0             204.0
28264    NaN          663.0          1012.0            737.0             497.0

[16118 rows x 5 columns]

In [45]:
df_final_nodup_1 = df_final_nodup_1[df_final_nodup_1["u937_parental"] > 0 &&

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
2,SPECC1L,550,558,510,447
14,LOC729737,634,506,30,203
19,PARD3,3,21,1,0
20,LOC100133331,82,69,26,46
...,...,...,...,...,...
28259,PAK1,807,852,914,589
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [42]:
df_final_nodup_1.to_csv("df_final_nodup_all_no_header.tabular", sep="\t", index=False, header=False)

In [44]:
df_final_nodup_1.to_csv("df_final_nodup_all.tabular", sep="\t", index=False)