In [24]:
import pandas as pd

In [25]:
df_d1 = pd.read_csv("D-1.tabular", sep="\t")
#df_d2 = pd.read_csv("D-1.tabular", sep="\t")
df_d3 = pd.read_csv("D-3.tabular", sep="\t")
df_d4 = pd.read_csv("D-4.tabular", sep="\t")
df_d5 = pd.read_csv("D-5.tabular", sep="\t")

In [26]:
gene_names = df_d1["Geneid"]
gene_names

0        LOC102725121
1             DDX11L1
2             SPECC1L
3           MIR6859-1
4           MIR6859-2
             ...
28260       LOC284898
28261           PRKD3
28262            MLC1
28263          ZBTB41
28264         TMEM181
Name: Geneid, Length: 28265, dtype: object

In [29]:
df_d1["u937_parental"] = df_d1["D-1"]
df_d1["u937_resistant"] = df_d3["D-3"]
df_d1["molm13_parental"] = df_d4["D-4"]
df_d1["molm13_resistant"] = df_d5["D-5"]
df_d1_final = df_d1.drop(columns=["D-1"])
df_d1_final

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
1,DDX11L1,0,0,0,0
2,SPECC1L,550,558,510,447
3,MIR6859-1,0,0,0,0
4,MIR6859-2,0,0,0,0
...,...,...,...,...,...
28260,LOC284898,0,0,0,0
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [30]:
df_final_nodup = df_d1_final.drop_duplicates(subset=['Geneid'])
df_final_nodup

,Geneid,u937_parental,u937_resistant,molm13_parental,molm13_resistant
0,LOC102725121,0,0,0,0
1,DDX11L1,0,0,0,0
2,SPECC1L,550,558,510,447
3,MIR6859-1,0,0,0,0
4,MIR6859-2,0,0,0,0
...,...,...,...,...,...
28260,LOC284898,0,0,0,0
28261,PRKD3,296,426,643,402
28262,MLC1,31,50,7134,8468
28263,ZBTB41,56,73,173,204
28264,TMEM181,663,1012,737,497

In [31]:
df_final_nodup.to_csv("df_final_nodup.tabular", sep="\t")